<ion-view view-title="设置">
    <ion-content >
        <ion-list>
            <ion-item class="item-divider" ng-if="!isIOS">></ion-item>
            <ion-item class="item-icon-right"  ng-click="checkUpdate()" ng-if="!isIOS">
                检查更新
                <span class="icon ion-ios-arrow-right item-note"></span>
            </ion-item>


            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-icon-right" ng-click="changePassword()">
                修改密码
                <span class="icon ion-ios-arrow-right item-note"></span>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="logout()">
                注销登录
                <span class="icon ion-ios-arrow-right item-note"></span>
            </ion-item>
            <ion-item class="item-icon-right"  href="#/sidemenu/about">
                关于
                <span class="icon ion-ios-arrow-right item-note"></span>
            </ion-item>

            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-icon-right" ng-click="shutdown()">
                退出
                <span class="icon ion-ios-arrow-right item-note"></span>
            </ion-item>


        </ion-list>
    </ion-content>

</ion-view>
