<ion-view view-title="我">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="reloadUser()"></ion-refresher>
        <ion-list>
            <ion-item class="item-divider">
                <!--个人信息-->
            </ion-item>
            <!--<ion-item class="item-avatar-right item-icon-right" ng-click="showActions()">-->
                <!--<img ng-src="{{user.avatar || 'img/logo.png'}}" class="avatar">-->
                <!--<div class="item-text-center">用户头像</div>-->
            <!--</ion-item>-->

            <ion-item class="item-avatar item-icon-right" href="#/sidemenu/user/profile">
                <img ng-src="{{user.avatar || 'img/logo.png'}}">
                <h2>{{user.name}}</h2>
                <p>{{user.description}}</p>
                <span class="icon ion-ios-arrow-right item-note"></span>
            </ion-item>

            <ion-item class="item-divider">

            </ion-item>

            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-ios-bookmarks-outline"></i>
                最近主题
                <span class="icon ion-ios-arrow-right item-note"></span>
            </ion-item>

            <ion-item class="item-icon-left item-icon-right">
                <i class="icon ion-ios-chatboxes-outline"></i>
                最近回复
                <span class="icon ion-ios-arrow-right item-note"></span>
            </ion-item>



            <!--<ion-item ng-repeat="post in user.recent_posts" ui-sref='sidemenu.post({post_id: post._id})'>-->
                <!--<h2 class="balanced">{{post.content}}</h2>-->

                <!--<p>{{post.userName}}<span class="item-note" am-time-ago="post.createDate"></span>-->
                <!--</p>-->
            <!--</ion-item>-->

            <!--<ion-item class="item-divider">-->
                <!--最近回复-->
            <!--</ion-item>-->

            <ion-item ng-repeat="reply in user.recent_replies" ui-sref='sidemenu.post({post_id: reply.post_id})'>
                <h2 class="balanced">{{reply.content}}</h2>

                <p>
                    {{reply.userName}}
          <span class="item-note" am-time-ago="reply.createDate">
          </span>
                </p>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
