<ion-view view-title="我的档案">
    <ion-content>
        <ion-list>
            <ion-item class="item-divider"></ion-item>
            <ion-item class="item-avatar-right item-icon-right" ng-click="showActions()">
                <img ng-src="{{user.avatar || 'img/logo.png'}}" class="avatar">

                <div class="item-text-center">用户头像</div>
            </ion-item>
            <ion-item>
                用户ID<span class="item-note"> {{user.id}}</span>
            </ion-item>
            <ion-item>
                相关描述<span class="item-note"> {{user.description}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
