<ion-view view-title="指挥控制">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-top tabs-balanced tabs-striped">
        <ion-tab title="直接指挥" href="#/sidemenu/control/direct">
            <ion-nav-view name="direct"></ion-nav-view>
        </ion-tab>
        <ion-tab title="广播指挥" href="#/sidemenu/control/broadcast">
            <ion-nav-view name="broadcast"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>